@import "../../styles/stylesVariables";

.deleteMovieCard {

  .confirmTitle {
    margin-bottom: 2.25rem;
  }

  .confirmText {
    color: $white_color;
    font: 400 1.25rem/1.2em $main_font;
    margin-bottom: 3.25rem;
  }

  .confirmButton {
    display: flex;
    justify-content: flex-end;
  }
}