@import "../../../../styles/stylesVariables";

.addMovieForm {
  display: block;
  width: 100%;

  .formTitle {
    margin-bottom: 2.375rem;
  }

  .formGroup {
    margin-bottom: 1.875rem;
  }

  .formButtons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 1.875rem;

    button {
      margin-right: 0.875rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.completionMovie {
  text-align: center;

  .completionIcon {
    margin-bottom: 1.875rem;
  }

  .completionTitle {
    margin-bottom: 1.875rem;
  }

  .completionText {
    font: 400 1.25rem/1.2em $main_font;
    max-width: 18.75rem;
    margin: 0 auto;
    padding-bottom: 1.875rem;
  }
}