// main font
$main_font: 'Montserrat', sans-serif;
// titles
$h1_title: 300 2.5rem/1.25em $main_font;
$h2_title: 300 2rem/1.25em $main_font;
$h3_title: 300 1.875rem/1.25em $main_font;
$h4_title: 300 1.5rem/1.25em $main_font;
// colors
$red_color: #F65261;
$white_color: #fff;
$black_color: #000;
$grey: #424242;
$dark_grey: #232323;
$light_gray: #555;