@import "../../../../styles/stylesVariables";

.detailsContent {
  background: $dark_grey;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  margin-bottom: 0.625rem;

  .movieDetails {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .movieImage {
    display: block;

    img {
      display: block;
    }
  }

  .movieTitle {
    max-width: calc(100% - 120px);
  }

  .movieRating {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white_color;
    font: 300 1.25rem/1.2em $main_font;
    width: 3.75rem;
    height: 3.75rem;
    border: 1px solid $white_color;
    border-radius: 50%;
  }

  .movieGenre {
    color: rgba($white_color, 0.5);
    font: 300 0.875rem/1.2em $main_font;
    margin-bottom: 1.875rem;
  }

  .movieRelease,
  .movieDuration {
    color: $red_color;
    font: 300 1.25rem/1.2em $main_font;
    margin-bottom: 1.875rem;
  }

  .movieDescription {
    color: rgba($white_color, 0.5);
    font: 300 1.25rem/1.2em $main_font;
  }
}