.error-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 99vw;
  min-height: calc(100vh - 6.75rem);
  background: $dark_grey;

  .error-card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    padding: 1.125rem;
  }

  .error-message {
    background: transparent;
    padding: 0.875rem;
    border: 0.25rem solid $red_color;
    border-radius: 0.25rem;
    margin-bottom: 2.25rem;
  }

  .error-btn {
    color: $white_color;
    background: $red_color;
    min-width: 14.375rem;
    text-align: center;
    padding: 1.125rem 1.125rem;
  }
}