// main font
$main_font: 'Montserrat', sans-serif;
// titles
$h1_title: 300 2.5rem/1.25em $main_font;
$h2_title: 300 2rem/1.25em $main_font;
$h3_title: 300 1.875rem/1.25em $main_font;
$h4_title: 300 1.5rem/1.25em $main_font;
// colors
$red_color: #F65261;
$white_color: #fff;
$black_color: #000;
$grey: #424242;
$dark_grey: #232323;
$light_gray: #555;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  color: #fff;
  font: 400 1rem/1.25em $main_font;
  background: $light_gray;
  padding: 3.375rem 0;
}

input,
textarea,
select,
button {
  outline: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input {

  &.input {
    color: $white_color;
    font: 400 1.25rem/1.2em $main_font;
    padding: 1rem 1.125rem;
    border-radius: 0.25rem;
    background: rgba(50, 50, 50, 0.8);
    border: 0;
  }
}

img {
  width: auto;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p:last-of-type {
  margin-bottom: 0;
}

h1,
.h1 {
  color: #fff;
  font: $h1_title;
  margin-bottom: 0.625rem;
}

h2,
.h2 {
  color: #fff;
  font: $h2_title;
  margin-bottom: 0.625rem;
}

h3,
.h3 {
  color: #fff;
  font: $h3_title;
  margin-bottom: 0.625rem;
}

h4,
.h4 {
  color: #fff;
  font: $h4_title;
  margin-bottom: 0.625rem;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3.75rem;
}

.row {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: -1.875rem;
  margin-right: -1.875rem;

  &.align-items-start {
    align-items: flex-start;
  }

  &.align-items-center {
    align-items: center;
  }

  &.justify-content-between {
    justify-content: space-between;
  }
}

.col {
  flex: 0 0 auto;
  padding-left: 1.875rem;
  padding-right: 1.875rem;

  &.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  &.col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  &.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.btn {
  font: 500 1.25rem/1em $main_font;
  text-transform: uppercase;
  padding: 0.825rem 1.125rem;
  border-radius: 0.125rem;
  background: transparent;
  border: 0;
  cursor: pointer;
}