@import "../../../../styles/StylesVariables";

.movieCard {
  margin-bottom: 3.125rem;

  .cardHeader {
    position: relative;
    margin-bottom: 1.25rem;
  }

  .movieLink {
    position: relative;
    display: block;
    font: inherit;
    z-index: 1;
  }

  .movieImage {
    display: block;
  }

  .editBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 2.25rem;
    background: #2A202D;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.196596);
    overflow: hidden;
    padding: 0;
    border: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;

    svg {
      display: block;
    }
  }

  .editList {
    position: absolute;
    top: 0.875rem;
    right: 0.875rem;
    padding: 1.75rem 0 0.75rem;
    width: 11.875rem;
    background: rgba(35, 35, 35, 0.918051);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.1), 0 10px 50px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(27.1828px);
    border-radius: 0.25rem;
    z-index: 5;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0;
        padding: 0;
      }
    }

    .editMovie,
    .deleteMovie {
      display: block;
      color: $white_color;
      font: 400 1rem/1em $main_font;
      text-align: left;
      padding: 10px 24px;
      width: 100%;
      background: transparent;
      border: 0;
      cursor: pointer;

      &:hover {
        background: $red_color;
      }
    }
  }

  .closeEditMode {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0.625rem;
    right: 0.625rem;
    width: 0.75rem;
    height: 0.75rem;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    z-index: 10;

    svg {
      display: block;
    }
  }

  .cardBody {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }

  .movieTitle {
    color: rgba($white_color, 0.7);
    font: 500 1.125rem/1.2em $main_font;
    flex: 0 0 calc(100% - 4.375rem);
    max-width: calc(100% - 4.375rem);
    margin-bottom: 0.375rem;

    a {
      position: relative;
      display: block;
      font: inherit;
      z-index: 1;
    }
  }

  .release {
    flex: 0 0 4.375rem;
    max-width: 4.375rem;
    color: rgba($white_color, 0.7);
    font: 500 0.875rem/1.2em $main_font;
    text-align: center;
    border: 1px solid #979797;
    border-radius: 4px;
    padding: 0.375rem 0;
    margin-bottom: 0.375rem;
  }

  .genre {
    flex: 0 0 100%;
    max-width: 100%;
    color: rgba($white_color, 0.5);
    font: 500 0.875rem/1.2em $main_font;
  }

  &:hover {

    .editBtn {
      opacity: 1;
    }
  }
}